@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #8B48BF;
    --secondary-color: #3CDDF3;
    --tertiary-color: #1E1E26;
    --quaternary-color: #232851;
    --quinary-color: rgb(249, 249, 249);
    --senary-color: rgb(36, 0, 77);
    --white-color: #FFFFFF;
    --footer-color: #1E1E26;
    --copyright-color: #8C8C94;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: var(--white-color);
}

.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}


.header-nav nav {
    display: flex;
}

.header-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-nav-bar li {
    list-style-type: none;
}

.header-nav-bar li a {
    text-decoration: none;
    color: #242E52;
}

.header-nav-bar li a:hover {
    color: #242E5299;
}

.header-nav .fa-bars {
    display: none;
}

.header-nav button,
.sect1-info button,
.section-3 button {
    display: flex;
    width: 134px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 50px;
    background: var(--primary-color);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--quinary-color);
    transition: all ease 0.2s;
    cursor: pointer;
}

.header-nav button:hover,
.sect1-info button:hover,
.section-3 button:hover {
    background: var(--senary-color);
    color: var(--quinary-color);
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 75px 200px 100px;
}

.sect1-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 450px;
    text-align: end;
    gap: 20px;
}

.sect1-info h1 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--quaternary-color);
}

.sect1-info p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #000;
}

.sect2-different-between {
    background-color: var(--primary-color);
    color: var(--quinary-color);
    display: flex;
    padding: 40px 0px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.section2 {
    width: 100% !important;
}

.sect2-list {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--quinary-color);
}

.sect2-different-between h2 {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 114.6%;
    color: var(--quinary-color);
    width: 450px;
    height: 88px;
}

.sect2-different-between p {
    width: 450px;
    height: 88px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sect2-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

}

.sect2-list-info {
    display: flex;
    align-items: center;
    width: 450px;
    gap: 23px;
}

.sect2-list-numero {
    display: flex;
    width: 75px;
    padding: 10px 25px;
    border: 0px;
    border-radius: 50px;
    background: var(--primary-color);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--quinary-color);
    transition: all ease 0.2s;
}

.sect2-info {
    display: flex;
    height: 158px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 18px;
}

.sect2-container {
    width: 600px;
    height: 230px;
}

.sect2-list-info h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sect2-info p {
    margin-left: 100px;
    color: #B3B2B7;
    font-size: 16.298px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.6%; /* 25.523px */
    letter-spacing: -0.163px;
    justify-content: center;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 50px;
}

.section-3>h2 {
    font-size: 2.5rem;
    color: var(--quaternary-color);
    margin-bottom: 50px;
}

.section-3>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sect3-avatar-card {
    background: var(--quinary-color);
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 20px 20px;
    text-align: center;
    gap: 10px;
}

.sect3-avatar-card img {
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
}

.sect3-avatar-card h3 {
    font-weight: 700;
    color: var(--quaternary-color);
}

.sect3-avatar-card p {
    font-weight: 400;
    color: #B9B9C1;
}

.section-4 {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 165px;
}

.section-4 h2 {
    width: 400px;
    color: var(--white-color);
    font-size: 2.25rem;
}

.section-4 button {
    background: var(--white-color);
    height: fit-content;
    padding: 12px 40px;
    color: var(--primary-color);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    transition: all ease 0.2s;
}

.section-4 button:hover {
    background: var(--senary-color);
    color: var(--quinary-color);
}

/* Footer */
footer {
    display: flex;
    background-color: var(--footer-color);
    height: 247px;
    width: 100%;
    justify-content: space-evenly;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-media-icons { 
    display: flex;
    gap: 13px;
}

.footer-center {
    display: flex;
    width: 392.727px;
    align-items: center;
    justify-content: center;
    gap: 219px;
}

.footer-center div ul li {
    list-style: none;
}

.footer-center div ul { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer-center div ul a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap; 
}

.footer-right {
    display: flex;
    flex-direction: column;
    width: 272.81px;
    justify-content: space-around;
    align-items: center;
}

.form-contact { 
    display: flex;
}

.form-cnt {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 9px;
}

.text-form {
    display: flex;
    width: 201px;
    height: 44px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border: 0px;
    border-radius: 35px;
}

.form-contact button {
    display: flex;
    width: 63px;
    height: 42px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0px;
    border-radius: 50px;
    background: var(--primary-color);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--quinary-color);
    transition: all ease 0.2s;
    cursor: pointer;
}

.copyright {
    width: 100%;
}

.copyright p {
    font-size: 12.5px;
    color: var(--copyright-color);
    text-align: end;
}



/* Responsive */

@media screen and (width <=480px) {

    .header-nav button {
        display: none;
    }

    .header-nav .fa-bars {
        display: flex;
        font-size: 3rem;
        color: #000;
    }

    .header-nav-bar {
        display: none;
        flex-direction: column;
        gap: 0;
        background-color: rgba(36, 0, 77, 0.8);
        backdrop-filter: blur(2px);
        align-items: center;
        width: 100%;
        height: fit-content;
        padding: 0;
        position: absolute;
        right: 0;
        top: 140px;
        z-index: 1;
        animation: fade-in 0.2s backwards;
    }

    .header-nav-bar.active {
        display: flex;
    }

    .header-nav-bar li {
        list-style-type: none;
        padding: 0.5rem 1rem;
        width: 100%;
        padding: 0;
    }

    .header-nav-bar li a {
        color: var(--white-color);
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1rem 0;
    }

    .header-nav-bar li a:hover {
        color: var(--quaternary-color);
        background-color: rgba(255, 255, 255, 0.75);
    }

    .section-1 {
        flex-direction: column;
        padding: 10px 10px;
    }

    .section-1 img {
        width: 100vw;
        margin-bottom: 100px;
    }

    .sect2-different-between {
        background-color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }

    .sect2-different-between h2 {
        font-size: 36px;
    }

    .sect2-container{
        width: 446px;
    }

    .sect2-list {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--white-color);
    }

    .sect2-block {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .sect2-list-info {
        width: 100%;
    }

    .sect2-info p {
        width: 100%;
        margin-left: 0px;
    }
}

/* Animations */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}